:root {
    --primary-text-color: #f0f0f0;
    --secondary-text-color: rgb(192, 192, 192);
    --background-color: #231d2a;
    --header-background-color: #392f46;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    color: var(--primary-text-color);
    background-color: var(--background-color);
    max-width:100%;
    
}


/***** Menú *****/

header {
    background-color: var(--header-background-color);
    padding: 1.5rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 3.1rem;
}

nav ul li a {
    color: var(--primary-text-color);
    text-decoration: none;
}

/***** Contenedor principal *****/

main {
    padding: 1rem 15rem;
}

h1 {
    font-size: 4rem;
    font-weight: bold;
}

h2 {
    font-size: 2.4rem;
    font-weight: bold;
}

h4 {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 1rem 0;
}

h5 {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--secondary-text-color)
}

p {
    color: var(--secondary-text-color);
    font-size: 1rem;
    margin: 1rem 0;
}

/***** Título (hero) *****/

.hero-container {
    text-align: center;
    padding: 2rem;
    margin: 16rem 0;
}

.hero-container p {
    margin: 1rem 0;
}

/***** Sección "Sobre Nosotros" *****/

.about-container {
    margin-top: 5rem;
}

.about-container article {
    margin: 1.5rem 0;
}

.exp {
    margin-top: 5rem;
}

/***** Sección "Estudios" *****/

.studies-container {
    margin-top: 6rem;
}

.studies-items {
    margin-bottom: 3rem;
}

.contacto{
    max-width:70%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacto h5{
    margin-bottom:2em;
    font-size:2rem;
    color:#fff;
}
.contacto iframe{
    width:500px;
    height:990px;
}

/***** Media querys *****/

@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 1rem 0;
    }

    nav ul li a {
        font-size: 1.5rem;
    }

    main {
        padding: 1rem 1rem;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    h5 {
        font-size: 1rem;
    }

    p {
        font-size: .9rem;
    }

    .hero-container {
        margin: 10rem 0;
    }
}

@media screen and (max-width:540px) {
    .contacto iframe{
        width:380px;
        
    }
}